@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

:root {
  font-family: "Inder", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-white: #fff;
  --color-gray: #e2e2e2;
  --color-green: #549a3f;
  --color-blue: #0277bd;
}
